[2016-09-21 18:22] aharris88 opened #15 "Colors in Neovim terminal mode"
When I run terminal mode inside of neovim (`:terminal`), the colors on my prompt are incorrect compared to the way they are in the normal terminal.

In this image, the top part is a tmux pane with neovim in terminal mode and the bottom is just my normal terminal (zsh with [pure prompt](https://github.com/sindresorhus/pure)).

![screen shot 2016-09-21 at 12 18 05 pm](https://cloud.githubusercontent

[2016-09-21 18:38] trevordmiller commented on #15
Hey @spicydonuts, is this the same issue you are experiencing?

[2016-09-21 18:40] trevordmiller commented on #15
I can add these values to map to `nova-colors` values in `colors/nova.vim`

[2016-09-21 19:05] #15 closed

[2016-09-21 19:06] trevordmiller commented on #15
Hey @aharris88 and @spicydonuts, do you mind updating to `2.2.3` and confirming if this solved the problem?

[2016-09-21 19:13] spicydonuts commented on #15
Fixed!  Thank you!

[2016-09-21 19:15] aharris88 commented on #15
Yeah, looks good!

[2016-09-21 19:16] trevordmiller commented on #15
yay! Thanks for testing.

[2016-09-26 22:37] alexlafroscia opened #21 "Add colors for Airline"
A lot of Vim users use [vim-airline](https://github.com/vim-airline/vim-airline), and having theme support there would be awesome!  For example, the Gruvbox theme does a nice job of providing an [Airline config file](https://github.com/morhetz/gruvbox/blob/master/autoload/airline/themes/gruvbox.vim).  Right now, it looks like this, which is not a great experience:

![screen shot 2016-09-26 at 3 36

[2016-09-26 22:44] trevordmiller commented on #21
Thanks for the feedback! I agree. Feel free to submit a pull request [using the "CONTRIBUTING" guidelines](https://trevordmiller.github.io/nova); otherwise, I'll get to this :)

[2016-09-26 23:00] alexlafroscia commented on #21
Cool! I'll mess with this tonight and see if I can get one generated automatically, but I'm not sure what colors should go where... If I can do some of the leg work though, I'll do that and you can figure out the colors.

[2016-09-26 23:14] trevordmiller commented on #21
Thanks @alexlafroscia! That would be great. Check out the nova-vim source code to see how the "nova-colors" values are used and built; as far as color picking I'm happy to help out - I use the Nova color meanings; for the airline theme, I would assume color use will be one of three options: everything is a "decoration" shade of gray except current state (novaColors.normal.cyan for things that show

[2016-09-28 05:49] alexlafroscia opened #23 "Text color in folds is too dark"
Not sure if it's just me, but having the text darker than the fold color makes it _really_ hard to read

<img width="352" alt="screen shot 2016-09-27 at 10 47 49 pm" src="https://cloud.githubusercontent.com/assets/1645881/18902012/7db9f462-8504-11e6-9fa3-75bf44866e5a.png">

I think a lighter color would make it much more legible.

[2016-09-28 05:51] trevordmiller commented on #23
I agree. I'll take care of this. Thanks for the feedback.

[2016-09-28 22:50] alnjxn commented on #21
I put together a really simple lightline theme using estilo. If you guys settle on the color config for airline i'd be happy to update to match and contribute back to this project. https://github.com/alnjxn/estilo-nova

[2016-09-28 22:54] #23 closed

[2016-09-28 22:58] trevordmiller commented on #23
@alexlafroscia I pushed a fix for this:
![screen shot 2016-09-28 at 4 51 48 pm](https://cloud.githubusercontent.com/assets/5497885/18935361/ba491398-859c-11e6-855b-f669f3fdcd30.png)
![screen shot 2016-09-28 at 4 51 22 pm](https://cloud.githubusercontent.com/assets/5497885/18935360/ba452f80-859c-11e6-84c4-f1298448d984.png)

I updated both folds and fold columns (if enabled) to be `normal.cyan` (the

[2016-09-28 23:02] trevordmiller commented on #21
@alnjxn Cool, thanks for letting us know! I believe @alexlafroscia has the colors set in stone in this pull request: https://github.com/trevordmiller/nova-vim/pull/22. Feel free to update to match. That pull request just has one final change and then I'll be merging it in.

[2016-09-28 23:07] trevordmiller opened #25 "Update color mappings"
Update color mappings to use `nova-colors` mappings directly instead of using absolute colors and re-mapping in the plugin itself

Relies on https://github.com/trevordmiller/nova-colors/issues/20 being resolved first

[2016-09-29 17:39] alexlafroscia commented on #23
Awesome, thanks @trevordmiller!

[2016-09-29 22:01] #21 closed

[2016-09-29 23:13] #25 closed

[2016-10-02 19:54] alexlafroscia opened #30 "Add proper GitGutter colors"
I'm adding [GitGutter](https://github.com/airblade/vim-gitgutter) colors to my personal config, but would be happy to PR that back here once I'm done.  Would you want me to do that?

[2016-10-02 20:57] #30 closed

[2016-10-03 15:39] trevordmiller opened #32 "Clean up plugin rules"
Place the "Plugins" section rules in the related color mapping groups so the plugins section can be removed and all rules are organized by semantics.
From https://github.com/trevordmiller/nova-vim/pull/31

[2016-10-04 22:41] kumarmj commented on #32
I will be happy to work on this, please let me know what do you mean by

[2016-10-04 22:59] trevordmiller commented on #32
@kumarmj Sounds great, thank you for your interest! The "Plugins" section is out of place since all other rules are organized by purpose. So, the only change that needs to be made is to rename the ["PLUGINS" header comment](https://github.com/trevordmiller/nova-vim/blob/master/src/index.js#L238) to be "VERSION CONTROL"; after you change the text in that comment, you can just run `npm run push -- p

[2016-10-04 23:00] trevordmiller commented on #32
@kumarmj This will help the color mappings (meaning the mappings from each highlight group to the related color variable) to match the `nova-colors` groups: https://github.com/trevordmiller/nova-colors/blob/master/src/index.js

[2016-10-05 04:23] #32 closed

[2016-10-06 22:25] trevordmiller opened #34 "Make developing locally seamless"
- Add symlink to start script
- Source .vimrc  when build happens
- Remove symlink after push

[2016-10-06 23:07] #34 closed

[2016-10-10 16:47] jacob-israel-turner opened #36 "Selected highlight isn't clear in iTerm"
Searching while using neovim in iTerm is significantly less convenient while using nova.  Here is how it looks using Nova:

![screen shot 2016-10-10 at 10 43 15 am](https://cloud.githubusercontent.com/assets/8698364/19243842/a4a07f52-8ed6-11e6-8dbe-542cc2366146.png)

While using another theme, it looks like this:
![screen shot 2016-10-10 at 10 44 09 am](https://cloud.githubusercontent.com/assets/8

[2016-10-10 16:51] jacob-israel-turner commented on #36
This is how it looks in Hyper:
![screen shot 2016-10-10 at 10 48 23 am](https://cloud.githubusercontent.com/assets/8698364/19243934/27c5c892-8ed7-11e6-9436-9e0ebfb7334e.png)

It looks like I might have something wrong with my colors (`this` isn't colored in iTerm).

[2016-10-10 16:51] trevordmiller commented on #36
Thanks for the feedback! I agree; I think search results should use `novaColors.uiGroups.userCurrentState` (cyan) as the foreground (text) and use a `novaColors.uiGroups.gray3` (light gray) for the background. Feel free to submit a pull request [using the "CONTRIBUTING" guidelines](https://trevordmiller.github.io/nova); otherwise, I'll get to this :)

[2016-10-10 22:04] #36 closed

[2016-10-11 18:18] alexlafroscia opened #38 "Add better support for git views"
I've noticed that some improvements could be made to some of the Git-related colors with this theme.

For example, if you're diffing two files, seeing the changes in red/green might be helpful.  Instead, I'm getting this:

<img width="835" alt="screen shot 2016-10-11 at 11 15 31 am" src="https://cloud.githubusercontent.com/assets/1645881/19282646/0d385a6c-8fa4-11e6-8806-006245990509.png">

Compare

[2016-10-11 18:38] trevordmiller commented on #38
@alexlafroscia Great idea! I agree. Along with using background colors, it would be good to update to use the [`nova-colors` `versionControlGroups`](https://github.com/trevordmiller/nova-colors/blob/master/src/index.js#L45-L50); right now git related highlight groups are incorrectly not using `versionControlGroups`. Would you mind taking this one? If not, I'll get to it :)

[2016-10-11 18:56] aharris88 opened #39 "Swap file message colors"
It would be good to have this red and green use nova colors.

![screen shot 2016-10-11 at 12 55 12 pm](https://cloud.githubusercontent.com/assets/3266363/19284182/10827cc6-8fb2-11e6-9854-c847542c55bc.png)

[2016-10-11 19:13] trevordmiller commented on #39
Thanks for the feedback! I agree. Feel free to submit a pull request [using the "CONTRIBUTING" guidelines](https://trevordmiller.github.io/nova); otherwise, I'll get to this :)

[2016-10-11 19:33] alexlafroscia commented on #38
Sure, I'll add it to my list and see if I can get to it tonight.

[2016-10-11 19:42] trevordmiller commented on #38
Thanks @alexlafroscia you rock. If you don't have time no worries I'll take care of it at some point :)

[2016-10-12 05:34] alexlafroscia opened #40 "Start script errors"
The start script isn't working for me.  I keep getting the following error:

[2016-10-12 05:51] alexlafroscia commented on #38
@trevordmiller Add/removed is pretty easy, but changed lines vs. the actual part of the line that changes (blue background vs. yellow background in the Gruvbox screenshot) are two different color groups.  How do you want me to handle that?

[2016-10-12 15:15] trevordmiller commented on #38
@alexlafroscia Would it make sense to use `novaColors.versionControlGroups.modified` (orange) for the line that changes and `novaColors.versionControlGroups.renamed` (blue) for the actual part of the line that changed? Or we could extend `nova-colors` with `versionControlGroups.exactModified` (and set it equal to one of the unused `colorValues` for `versionControlGroups`) or something? I'll defer

[2016-10-12 15:16] trevordmiller commented on #40
@alexlafroscia Do you have a `.vim/colors` directory? I thought that comes default with Vim, but if the `colors` directory is absent you will need to `mkdir ~/.vim/colors/` for that error to go away so it can place `nova.vim` inside it. If this is the problem, we could update the `start` script to create this directory if it doesn't exist.

[2016-10-12 17:09] alexlafroscia commented on #40
I'm a Neovim user so my config directory is `.config/nvim`, but I don't have a `colors` directory there either.  After actually using this start script, I wish I had the old one 😝 I already use my locally cloned version using `vim-plug` so the old start script's behavior and the new one would be the same, except this symlink issue means I have to run `npm run build` manually every time I change st

[2016-10-12 17:12] alexlafroscia commented on #38
I like this idea.  It looks something like this:

<img width="788" alt="screen shot 2016-10-12 at 10 11 08 am" src="https://cloud.githubusercontent.com/assets/1645881/19319968/3f2344cc-9064-11e6-9bde-e300c26cbc98.png">

The blue text on orange background is too light IMO.  We could always change the background color behind that text through.

[2016-10-12 17:12] alexlafroscia commented on #38
A darker orange color for the changed text might look nice

[2016-10-12 17:27] trevordmiller commented on #38
@alexlafroscia Thanks for looking at that. Yeah if you can use the background color with the blue (`versionControlGroups.renamed`) that would be best as I would prefer not to extend `nova-colors` unless absolutely necessary. You could also experiment with passing in `underline` so that the inline change is the same color as the line but is underlined or something; that would require re-working how

[2016-10-12 17:32] trevordmiller commented on #40
@alexlafroscia Bummer, yeah I looked into it and the `colors` dir thing is specific to Vim, so do you mind just pulling that out of the `start` script so it is like it was before? Sorry about that!

[2016-10-12 19:58] alexlafroscia commented on #40
Sure, I can do that

[2016-10-12 19:59] alexlafroscia commented on #38
alright, so I'll try

- Blue background
- Orange text
- Underline (maybe)

Right?

[2016-10-12 20:17] trevordmiller commented on #38
@alexlafroscia Sure, whatever you think makes the most sense :)

[2016-10-13 19:01] aharris88 opened #42 "Support for Neomake"
It would be nice to have support for neomake. This is what I had to add to my `.vimrc` to get neomake colors working:

[code]

I'm not sure if this is the best way to make it work. If I leave off lines 3-4, then it doesn't show any characters next to the line numbers at all.

[2016-10-13 19:14] aharris88 commented on #42
Actually, this is better. I'll try to submit a PR.

[code]

[2016-10-13 20:00] trevordmiller commented on #40
Another Neovim user wanted to contribute and ran into the same issue: https://github.com/trevordmiller/nova-vim/issues/42

So I vote we take this out and instead add a `CONTRIBUTING.md` with info on how to symlink for both Vim and Neovim to test changes locally before pushing.

[2016-10-13 20:02] trevordmiller commented on #40
I'm happy to take care of this if nobody else wants to

[2016-10-13 20:04] trevordmiller commented on #39
Not sure what these highlight groups are called since I can't use my normal [vim-scriptease](https://github.com/tpope/vim-scriptease) cursor over or `:highlight` list...since this is already in the command line without access to these commands. Anyone know how to tell what highlight groups the red and green are here so we can update them to be `novaColors.uiGroups.userActionNeeded`?

[2016-10-13 22:23] alexlafroscia commented on #40
Yeah, I think that's a good idea. I also just ran into the fact that the push script fails because of the symlink as well.

[2016-10-13 22:32] alexlafroscia opened #44 "Avoid needing to tag a version as part of a pull request"
I've run into problems around having the tag as part of the PR when you often rebase commits to make amends.  It seems like Travis CI should be able to do that step in the `deploy` hook after a successful merge into `master`.

http://stackoverflow.com/a/28230711/2250435

In addition, this doesn't play that nicely when you have multiple PRs open at the same time.

***

One challenge to address woul

[2016-10-13 22:33] alexlafroscia commented on #44
Related comments:

https://github.com/trevordmiller/nova-vim/pull/41#issuecomment-253657242
https://github.com/trevordmiller/nova-vim/pull/43#issuecomment-253657400

[2016-10-13 22:36] trevordmiller commented on #44
@alexlafroscia I agree. I'll probably add [`semantic-release`](https://github.com/semantic-release/semantic-release) to tag after CI succeeds; this does unfortunately add a requirement to have specific commit messages (so you know what type of change it is - major, minor, or patch - for semver). What do you think? Probably better than running `npm version` (via `push` script) locally.

[2016-10-13 22:39] alexlafroscia commented on #44
Hmm, that's interesting. I had seen it but never really dug into trying it out. Seems like a really interesting option though, and I generally love the idea of commit messages having a particular format.  I think it's important that commits include the details on the what and why of the changes, and driving the version change from that data is a cool idea.

[2016-10-13 22:40] #38 closed

[2016-10-13 22:42] trevordmiller commented on #44
Yeah I'm willing to try it out; I've made a few packages (which rely on semver + versioning) and haven't found a great solution to follow semver but still have easy contributing and PRs. I'll add this in when I have some time and we can try it out and see what we think :)

[2016-10-13 22:55] alexlafroscia commented on #44
Yeah, it's always tough. I find it fascinating that the Elm language can actually do it automatically by looking at your code and determining if anything changed! Pretty amazing, but poor old JavaScript will probably never see anything like that 😝

[2016-10-13 22:59] alexlafroscia opened #45 "Fix colors of the patch adding view"
In Fugitive you can stage particular patches, which is handy.  Nova must miss a few of the colors though, because things look a little... Rough.

<img width="531" alt="screen shot 2016-10-13 at 3 58 38 pm" src="https://cloud.githubusercontent.com/assets/1645881/19370020/f0aa94a8-915d-11e6-84c5-f2ce2706edd3.png">

I'll update the colors here so you can assign this to me.  Just wanted to make an iss

[2016-10-13 23:00] trevordmiller commented on #45
Ewww, yeah haha. Fugitive must not inherit from the other diff highlight groups. Sounds good. Thanks @alexlafroscia, you have been a great help :)

[2016-10-13 23:01] trevordmiller commented on #45
@alexlafroscia I don't know if you are doing Hacktoberfest, but I've added the label so you can get a free shirt if you want :) https://hacktoberfest.digitalocean.com/

[2016-10-13 23:02] alexlafroscia commented on #45
Absolutely, happy to help 😀 I'm used to trying to get all of my tools to use the same colors manually, and *love* that Nova provides Atom, Vim, Tmux, etc. from a single source that are all in sync. Gotta give back where I can, and I know Vimscript and JS so I'm able to.

[2016-10-13 23:02] #42 closed

[2016-10-13 23:04] trevordmiller commented on #45
@alexlafroscia Thanks man. I was in the same boat 😆

[2016-10-13 23:05] trevordmiller commented on #40
Sounds good I'll take care of this.

[2016-10-14 22:05] trevordmiller commented on #44
I did some more research and it doesn't see that `semantic-release` is a good option for a few reasons:

0. it auto-publishes the package to npm after CI success (which this Vim plugin doesn't need, its only on GitHub)
0. it forces a pretty prescriptive setup that I feel is even more of a burden than manual tagging and resolving conflicts on multiple PRs
0. It has a lot of unresolved issues on Git

[2016-10-14 22:10] trevordmiller commented on #44
Another option, since Vim doesn't care about semver, is to always auto tag with `npm version minor` or something, but that feels dirty. Also, I'm looking for a solution I can use with my other packages.

[2016-10-14 22:10] trevordmiller commented on #44
Asked on twitter:
https://twitter.com/trevordmiller/status/787048100380618752

[2016-10-14 22:13] trevordmiller commented on #44
@designfrontier suggested option #2 from above, which I'm willing to do to remove the burden from contributors. Just means I can't merge stuff from my phone anymore 😆
![image](https://cloud.githubusercontent.com/assets/5497885/19404148/fa03f7b2-9228-11e6-9d6d-000788500213.png)

[2016-10-14 22:14] #40 closed

[2016-10-14 22:33] #44 closed

[2016-10-20 19:53] trevordmiller opened #49 "Add release script"
I'm taking this one

[2016-10-20 19:58] trevordmiller opened #50 "Fix gitignore"
Like what was done here so the `build/` directory is ignored, but the `build` script is not:
https://github.com/trevordmiller/nova-hyperterm/pull/21/commits/cdf86945c06444b32b0dd92203dca7a0cd6ca9e8

[2016-10-20 20:14] trevordmiller commented on #50
Vim requires build directory in version control

[2016-10-20 20:14] #50 closed

[2016-10-23 03:36] #49 closed

[2016-11-14 04:00] trevordmiller commented on #45
Hey @alexlafroscia were you still planning on doing this?

[2016-11-14 04:18] trevordmiller commented on #45
Actually nevermind.
I'm closing this for now, since it is lower priority than other things I'm working on. If anyone would like to re-open the issue and submit a pull request, let me know! I'd be happy to have your contribution :)

[2016-11-14 04:18] #45 closed

[2016-11-14 21:08] alexlafroscia commented on #45
Sorry, this slipped by me. I'll try to get to it... Eventually. Not sure when though, most of my OSS time is tied up elsewhere right now.

[2016-11-14 21:11] trevordmiller commented on #45
@alexlafroscia No worries. Feel free to reopen if you get to it :)

[2016-12-09 19:22] jdsimcoe opened #53 "Weird Tmux colors"
When using Vim from `tmux` I get some janky colors:

<img width="1362" alt="screen shot 2016-12-09 at 11 21 40 am" src="https://cloud.githubusercontent.com/assets/275617/21061556/c4a9e5d6-be01-11e6-9be1-ee756f10f6f3.png">

Any idea why this is?

[2016-12-09 19:26] trevordmiller commented on #53
@jdsimcoe Did you follow the Tmux instructions from [the website instructions](http://www.trevordmiller.com/nova/)? My guess would be you are either on an old version of tmux or you aren't using the needed `.tmux.conf` pieces from the linked example.
![image](https://cloud.githubusercontent.com/assets/5497885/21061692/a002da72-be0a-11e6-8419-a07479476d22.png)

[2016-12-09 19:31] jdsimcoe commented on #53
👍

[2016-12-09 19:31] #53 closed

[2016-12-15 19:19] PezCoder opened #56 "termguicolors throwing error"
I am using VIM 7.3 & iTerm2 (both with the nova theme & plugin provided). I got this error when i first tried to launch vim after installing nova.

![image](https://cloud.githubusercontent.com/assets/8057916/21238557/7ba8d626-c329-11e6-95ea-e6f1ca6c42bd.png)

[2016-12-15 20:05] trevordmiller commented on #56
See comments on https://github.com/trevordmiller/nova-vim/pull/57

[2016-12-15 20:05] #56 closed

[2016-12-19 19:30] trevordmiller commented on #39
I'm closing this for now, since it is lower priority than other things I'm working on. Standard Vim uses the highlight group colors correctly, this is only a problem in Neovim. If anyone would like to re-open the issue and submit a pull request, let me know! I'd be happy to have your contribution :)

[2016-12-19 19:30] #39 closed

[2017-03-04 19:00] alnjxn opened #61 "hlsearch active element not highlighting"
Got a weird issue. I if i use the /gc option on find and replace to confirm each replace, there is no highlighting of the active word. See example, where I show the correct behavior first with the default color scheme :

![mar-04-2017 13-55-38](https://cloud.githubusercontent.com/assets/1423708/23581487/cadcc5f8-00e2-11e7-9aa3-10d08682419f.gif)

Can someone reproduce?

[2017-03-05 02:36] trevordmiller commented on #61
Hi @alnjxn, thank you for your feedback. This is a new feature request, so I will leave this issue open so that I can take care of it.

[2017-03-14 18:37] BrandonShega opened #62 "Cursor line is not showing up in Vim"
Hi! I love this theme, I got it for vim, tmux, iTerm, git and for some reason in vim my cursor line is not highlighting just the block cursor is.  Also my status line seems to be a different color and I'm not sure what I have done wrong :(

If you have any ideas I'd appreciate them.

Here is a screenshot of what vim look like for me:

![vim screenshot](https://cloud.githubusercontent.com/assets/10

[2017-03-15 03:49] trevordmiller commented on #62
@BrandonShega The colors shown in the screenshot are not Nova colors; it is also missing the default status line color. My guess is the plugin wasn't installed correctly, or an old version of Vim is installed (without true color support). What do you get when you run `vim --version` in your shell? You should get `8.0` or above. Have you gone through each of the steps and notes on  https://trevordm

[2017-03-15 03:50] trevordmiller commented on #62
@BrandonShega Also, does running inside tmux look differently than outside of tmux? If so, tmux doesn't have the right config or is an old version without true color support. Please see the instructions on the website ^ for Tmux as well as Vim.

![image](https://cloud.githubusercontent.com/assets/5497885/23932881/dffb14d6-08f7-11e7-99c3-f2a12faad431.png)

[2017-03-15 03:52] BrandonShega commented on #62
I thought the colors were looking a little off... I'll let you know what the output is tomorrow and redo the install as well.

[2017-03-15 03:58] trevordmiller commented on #62
@BrandonShega Ok. My guess is you are either have an old version of Vim or Tmux or both. Vim should be `8.0.0`+ and tmux should be `2.2`+. If you are on a Mac, I recommend using Homebrew (ie `brew install vim && brew install tmux`) to get the latest of each. Then just make sure your `~/.vimrc` has:

[code]

Example: https://github.com/trevordmiller/nova-vim/blob/master/assets/.vimrc

And your `.tm

[2017-03-15 03:58] trevordmiller commented on #62
Closing for now as I assume this will fix the problem, but feel free to reopen if it doesn't :) Thanks for using Nova.

[2017-03-15 03:58] #62 closed

[2017-03-15 12:48] BrandonShega commented on #62
Hi @trevordmiller, ok so I have vim 8.0 with patches 1-456 installed via homebrew and tmux 2.3 installed via homebrew.  Vim looks the same installed both in and outside of tmux.  One thing I did notice and I think this was mentioned in another issue or a google post but if I don't have `set notermguicolors` at the bottom of  my `~/.vimrc` then all of the colors are just gone.

Here are links to my

[2017-03-15 13:05] BrandonShega commented on #62
Never mind I removed the nova-vim folder from my bundle folder and then reinstalled it and now it seems to be working ¯\_(ツ)_/¯.

[2017-03-15 16:39] trevordmiller commented on #62
@BrandonShega Ok good glad you got it working :) Will close this issue. Hope it works well for you.

[2017-03-25 04:19] trevordmiller commented on #61
@alnjxn I did some research and testing and the functionality of having a different search color on the active item is not built-in to vim; the default color scheme must be applying something to hack this to work in your example. The only two "highlight groups" (things you can control in a color scheme) are "Search" (after hitting enter, the highlighting if you have `set hlsearch` on) and "IncSear

[2017-03-25 04:20] trevordmiller commented on #61
I am going to upgrade the current search colors in the next release though to be more stark:
![image](https://cloud.githubusercontent.com/assets/5497885/24319391/0f5e4640-10e0-11e7-8a6c-c8edc3c54565.png)

^ after searching for `/const`

[2017-03-25 04:23] trevordmiller commented on #61
I am improving the constrast of the Search + IncSearch styles though in the next release:
![image](https://cloud.githubusercontent.com/assets/5497885/24319409/890ba172-10e0-11e7-92f4-72f3621558a8.png)

^ searching for `/const`

[2017-03-25 04:24] #61 closed

[2017-03-25 12:16] alnjxn commented on #61
@trevordmiller thanks for looking into this. Will def check out the plugins. Contrast in the new screen pics look great. Keep up all the good work!

[2017-03-28 05:17] Xaeroxe opened #64 "Unknown option: termguicolors"
I get the following error when I install this plugin and add `colorscheme nova` to my `.vimrc`.  I'm using the Janus vim distribution on Ubuntu 16.04
![unknown](https://cloud.githubusercontent.com/assets/6182002/24390041/698d061e-1343-11e7-9c47-f2d5c49c0a07.png)

[2017-03-28 05:21] Xaeroxe commented on #64
I'm using GNOME Terminal version 3.18.3 as well.

[2017-03-28 15:59] trevordmiller commented on #64
@Xaeroxe Thanks for using Nova. As mentioned [in the documentation](https://trevordmiller.com/projects/nova), "You'll need True Color support (latest Vim, Neovim, or GUI Vim)";

If you run `vim --version` it should be at least `8.0`:
![image](https://cloud.githubusercontent.com/assets/5497885/24414986/37b2de0c-139d-11e7-8301-41081f91e4eb.png)

So since you are on Ubuntu, I believe you will need to

[2017-03-28 15:59] #64 closed

[2017-03-28 16:01] trevordmiller commented on #64
Although I don't use Janus or know much about it, it may need to be updated to upgrade Vim. Either way, your Vim version needs to be latest for True Color support.

[2017-03-28 16:05] Xaeroxe commented on #64
I thought of that, so I checked to see if my Vim had true color support using this

[code]
And it did display correctly.  I am also able to use this vim color theme: http://vimcolors.com/626/spring-night/dark with the same setup.

[2017-03-28 16:10] Xaeroxe commented on #64
However it did just occur to me that just because the terminal has true color support doesn't mean that Vim does.  I'll check that next time I'm at this box.

[2017-03-28 16:28] trevordmiller commented on #64
@Xaeroxe That is correct, both your terminal and Vim itself need true color support - so along with your terminal which sounds like it is ok, you'll need to upgrade Vim to latest.

[2017-03-28 16:58] iammerrick opened #65 "Cursor + Highlight = :-("
Currently, the cursor settings and the highlighted word settings are the same which means when you are jumping around with `*` `n` `;` etc. you can't see your cursor. In this image, the cursor is actually on the "S"
![screen shot 2017-03-28 at 10 57 21 am](https://cloud.githubusercontent.com/assets/109635/24417373/5f22f99c-13a5-11e7-92de-efa647281daa.png)

[2017-03-28 17:22] aharris88 commented on #65
I might have it installed incorrectly or something, but here's how it looks to me.

![screen shot 2017-03-28 at 11 21 47 am](https://cloud.githubusercontent.com/assets/3266363/24418301/c590481c-13a8-11e7-83be-d4f28b5d18b2.png)

[2017-03-28 18:24] trevordmiller commented on #65
@iammerrick

This was introduced last week here:
https://github.com/trevordmiller/nova-vim/pull/63

I didn't see this as a problem since I use `set cursorline`, but I'm glad you noticed without cursor line. Ideally, Vim would have [a unique highlight group for the current item](https://github.com/trevordmiller/nova-vim/issues/61) so the colors could be updated, but it doesn't - so we have to use t

[2017-03-28 18:25] trevordmiller commented on #65
fyi @alnjxn

[2017-03-28 18:43] iammerrick commented on #65
@trevordmiller man!  I loved this change until the cursor thing! I support whatever fix you think is best.

[2017-03-28 18:44] iammerrick commented on #65
@aharris88 there is definitely something weird with your setup my friend. :-)

[2017-03-28 18:52] aharris88 commented on #65
@trevordmiller @iammerrick Yeah, I didn't have tmux true color turned on... Sorry for hijacking this thread. And the cursor was white because of the "Smart Cursor Color" setting in iTerm. I'm not sure why I'm missing the color on the line number or why my cursor is not as tall as the rest of the highlight...

![screen shot 2017-03-28 at 12 49 35 pm](https://cloud.githubusercontent.com/assets/32663

[2017-03-28 19:19] trevordmiller commented on #65
@iammerrick Ok, I'll keep this issue open and tinker with it when I have time; I'll come up with something that works well.

@aharris88 No worries, glad you figured it out :)

[2017-03-28 19:22] trevordmiller commented on #65
@aharris88 The cursor is controlled by your terminal emulator, not Vim - so sadly I have no control over that in nova-vim. As for the cursor line background highlight and number being highlighted, if you want that you need to add `set cursorline` to your vim config.

[2017-03-28 22:44] #65 closed

[2017-03-29 00:49] Xaeroxe commented on #64
Ah, yes Ubuntu default vim doesn't have TrueColor support.  I got a version of Vim on my computer that does though and we're all good now.  Thanks for helping me, sorry for noob issue.

[2017-03-29 01:43] trevordmiller commented on #64
@Xaeroxe No worries, glad you got it figured out :)

[2017-04-27 20:40] oblitum opened #70 "Any interest in providing translucence compatibility?"
I've found this colorscheme quite awesome but [sometimes I like to set my background transparent](https://github.com/oblitum/dotfiles/blob/archlinux/.vimrc#L208-L211) and this theme doesn't play well with that tweak because it sets bg colors for several individual highlighting groups instead of just the fg colors. It's the first time translucence simply gets broken for me:

![screenshot from 2017-

[2017-04-27 21:24] trevordmiller commented on #70
@oblitum Thank you for posting an issue and for using Vim! I personally don't want to encourage translucence use with this theme as it is already a low contrast theme and translucence makes it ever lower contrast; I also purposefully put the background color overrides in places as the only way I could find to ensure consistency across multiple terminal types > vim types > tmux use. If you can find

[2017-04-27 21:24] #70 closed

[2017-04-27 21:35] oblitum commented on #70
@trevordmiller OK thanks. Regarding contrast I don't get because using transparency I generally get higher contrast, and this also happen here as the background is quite light and on translucence it gets darker, which gets more contrast with the text.

[2017-04-27 22:00] trevordmiller commented on #70
@oblitum That can be true if you have a darker background, but when you have windows behind your terminal or a lighter background the contrast will be poor and I don't want to allow Nova to be used/recorded/presented with in those situations. Again if you want to PR or fork that's cool with me, but this would add some complexity and bugs and I haven't had anyone else request this as I don't think

[2017-04-27 22:05] oblitum commented on #70
@trevordmiller OK thanks. In this mode I generally just set terminal's background to the same color as the Vim colorscheme, and control alpha. I generally apply just a bit of alpha but in this screenshot I've applied more so that the issue turned more evident, otherwise it would be hard to see it.

[2017-06-12 17:27] jlconlin opened #71 "How to enable iTerm2 truecolor—Colorscheme doesn't work with terminal ViM"
I can't get the color scheme to work in terminal vim. I believe that my problem lies in the fact that I don't have truecolor support in my terminal ViM; the color scheme works in MacViM, but not in the terminal.

I am using iTerm2 on a Mac with `tmux`. I have installed the tmux and iTerm2 color schemes as described on the website; those work just fine. You can see my ViM configuration [here](https

[2017-06-12 17:29] jlconlin commented on #71
While the `colorscheme nova` command is not at the end of my `vimrc` file, when it was at the end, I had the same issue.

When I have `colorscheme nova` in my `vimrc` file, there is no syntax highlighting at all, in any filetype when using terminal ViM. It works just fine with MacVim.

[2017-06-12 17:31] trevordmiller commented on #71
@jlconlin: Thanks for trying out Nova! I use terminal Vim and tmux as well. Are you on latest iTerm + Vim 8 + tmux 2.5? Latest of each is required for the true color support :)

[2017-06-12 17:35] trevordmiller commented on #71
Also, the `colorscheme nova` syntax is required in your .vimrc for the colorscheme to load.

[2017-06-12 17:41] jlconlin commented on #71
Ah, I wasn't using tmux 2.5. Now that I've updated it, it appears to work fine; although it takes *much* longer for my files to open.

[2017-06-13 21:57] trevordmiller commented on #71
@jlconlin Ok glad it's working for you. I'd recommend posting an issue on the tmux repo if you can narrow down the perf issue :)

[2017-06-13 21:57] #71 closed

[2017-06-14 11:13] SevereOverfl0w opened #72 "Support for Rainbow Parens"
Set default colours for:
- https://github.com/luochen1990/rainbow
- https://github.com/kien/rainbow_parentheses.vim
- http://www.vim.org/scripts/script.php?script_id=4580

Might be worth reviewing how [Gruvbox](https://github.com/morhetz/gruvbox) does it (https://github.com/morhetz/gruvbox/blob/c2c15907e96bed070259bfaf0faed3bc3db0e268/colors/gruvbox.vim#L696-L722)

[2017-06-14 15:13] trevordmiller commented on #72
Hi @SevereOverfl0w, thank you for using Nova! Nova has dedicated color meanings for syntax, so it uses the "special" (orange) color for parenthesis:
![image](https://user-images.githubusercontent.com/5497885/27139979-a3730442-50e1-11e7-8a03-a4b18002ea8a.png)
I'd like to not add support for rainbow parens, since it goes against the dedicated color setup. However, feel free to fork the project for y

[2017-06-14 15:13] #72 closed

[2017-06-14 16:23] trevordmiller commented on #72
@SevereOverfl0w The list of nova colors is here: https://github.com/trevordmiller/nova-colors/blob/master/src/index.js
It is used with Vim plugins in nova-vim like so: https://github.com/trevordmiller/nova-vim/blob/master/src/index.js#L84

Although if you want to use standard Nova, changing the parenthesis colors doesn't align with the project goals of having a dedicated color per syntax group so

[2017-06-14 16:27] SevereOverfl0w commented on #72
Unfortunately the pragmatics of writing a Lisp mean that rainbow parens are a very useful tool for reading code.

I was wondering if there was a good way to modify them slightly in some axis (contrast or brightness or something else? I don't know colours!)  that would stop me from having them bump into each other.

Having said all this, I may try turn off rainbows for a while, and see if I miss th

[2017-06-14 21:45] trevordmiller commented on #72
@SevereOverfl0w Gotcha. Yeah, I'm not sure if contrast/opacity/brightness etc. can be tweaked, but feel free to fork and play around :)

[2017-06-24 03:43] trevordmiller opened #74 "Add full color meaning support for Flow"
Flow works, but doesn't match the type color meaning for each type syntax group. It would be good to add full support for flow and document the need for any plugins (vim-flow required?) on https://trevordmiller.com/projects/nova.

[2017-08-12 04:20] kaicataldo opened #75 "Vertical vim split divider doesn't match screenshots"
Hi! First of all, thanks for your work on this :)

I was just trying out nova-vim and noticed that vertical split dividers don't match the horizontal dividers or the screenshots on the website. Do you know what I might be doing wrong?

Here's what I'm seeing:
<img width="912" alt="screen shot 2017-08-12 at 12 15 05 am" src="https://user-images.githubusercontent.com/7041728/29237798-e690da34-7ef3-1

[2017-08-12 19:44] trevordmiller opened #76 "Update screenshots"
Update website and repo README screenshots for vim + tmux plugins with the latest `backgroundShade` dividers

[2017-08-12 19:47] trevordmiller commented on #75
Hi @kaicataldo, thanks for trying out Nova :) Since https://github.com/trevordmiller/nova-vim/pull/69 which was released in `3.9.0`, both the horizontal dividers should be `backgroundShade` from `nova-colors`, which looks like this:

![image](https://user-images.githubusercontent.com/5497885/29243746-0710682c-7f64-11e7-9e97-e40e5037feb7.png)

So, your vertical divider color is correct, but since y

[2017-08-12 20:24] trevordmiller commented on #76
This has been done in https://github.com/trevordmiller/nova-vim/commit/889adc9cda4198564772bd9b1245406a4eeef723 and https://github.com/trevordmiller/nova-tmux/commit/d16585c1ec36fac64ac62ccdcc4996a3f23e4186 and

[2017-08-12 20:25] #76 closed

[2017-08-13 02:07] alexlafroscia commented on #75
Yeah, I can try. If I make most of the status like that dark, what color should I make the "arrows"? There are two different colors for them in normal mode, plus the alternate colors for the other modes.

Current config:
<img width="752" alt="screen shot 2017-08-12 at 10 07 20 pm" src="https://user-images.githubusercontent.com/1645881/29245525-ad37c6dc-7faa-11e7-96fd-e0dd580d166f.png">

[2017-08-13 04:19] trevordmiller commented on #75
@alexlafroscia I'll defer to your opinion since you use airline; if you want to keep it as is that's cool too, although the reason I switched to the darker status was for contrast as I had recieved a lot of feedback about it. Specifically the right pane's case of this screenshot in the airline version:
![image](https://user-images.githubusercontent.com/5497885/29246111-4a0bb7b0-7fac-11e7-93d2-ce39

[2017-08-13 19:08] kaicataldo commented on #75
@trevordmiller Gotcha - thanks for the quick and thorough response and for you work!

[2017-08-15 02:33] trevordmiller commented on #75
@alexlafroscia No worries. Let me know if you don't have time / don't want to and I'll take care of it; just wanted to give you a chance to continue to contribute since you did such a great job with the original airline setup and have been a great supporter of Nova! Thank you :)

[2017-08-15 02:37] trevordmiller commented on #75
@alexlafroscia If needed, we could define some more grays between `backgroundShade` and `background` in `nova-colors` as well if needed: https://github.com/trevordmiller/nova-colors/blob/master/src/index.js#L28-L29. But my preference would be if the default airline could use the `backgroundShade` for the background color with `gray3` for foreground color by default and `userCurrentState` for foreg

[2017-08-17 01:33] xiehuc opened #77 "what font is in screenshot"
look pretty good，i wonder it，please tell me fontname，thanks。

[2017-08-17 01:49] trevordmiller commented on #77
@xiehuc Thanks! It is Fira Mono: https://github.com/mozilla/Fira.

[2017-08-17 01:49] #77 closed

[2017-08-17 14:04] MeanEYE opened #78 "Highlight XML namespace attributes as well."
Currently color scheme highlights XML namespace tags properly like this:
![image](https://user-images.githubusercontent.com/1911594/29416178-9dad1a1e-8365-11e7-87d6-ef894d86cce3.png)

However XML allows attributes to be part of namespace as well:
![image](https://user-images.githubusercontent.com/1911594/29416223-b91aa212-8365-11e7-815c-5d8ffadc018c.png)

As I am not sure if this is by design, I a

[2017-08-18 05:25] trevordmiller commented on #78
@MeanEYE Thank you for using Nova and for your feedback! Native Vim XML highlight groups (the groups you can select to color) are fairly limited sadly so I don't have the control to color namespaces separately in attributes, sorry! But if you use a specific XML plugin that adds more granular highlight groups, we can add support. For example, here is one such rule for a plugin specific highlight gr

[2017-08-18 05:25] #78 closed

[2017-08-24 13:09] dbjsy commented on #75
Hi Guys,

I couldn't conclude from the above - does it mean the airline bars meant to look like the following:

![image](https://user-images.githubusercontent.com/8529293/29667803-b1e6859a-88d5-11e7-803d-50749bad790d.png)

It is within tmux, vim 8.

Thanks in advance for answers.

[2017-08-24 15:52] trevordmiller commented on #75
@dbjsy Thanks! No, your setup looks wonky, like it is mixing the native status line and airline. Maybe when @alexlafroscia is done making his update to have the airline match the native status line it will fix this, but I don't use airline so I'm not sure. This is how a non-airline setup looks - which in my mind is the "correct" look of nova:

![image](https://user-images.githubusercontent.com/549

[2017-08-24 16:10] trevordmiller commented on #75
Doesn't zsh just inherit from your terminal theme like other shells? In that case we have plugins for Hyper and iTerm2 on https://trevordmiller.com/projects/nova; [Gnome terminal in the works](https://github.com/agarrharr/gnome-terminal-nova) by @agarrharr and will be added to the website once complete. If zsh requires it's own theme, I personally wont be building it but if someone else makes a go

[2017-08-24 16:12] dbjsy commented on #75
@trevordmiller thank you for your response! Ok I will wait for the update then :)

Meanwhile, as I am a ruby programmer, I noticed there is no coloring for string values here. Is that something that deserves a new issue being created?

![image](https://user-images.githubusercontent.com/8529293/29676159-3b01882a-88ef-11e7-8ea0-c5af73303a0d.png)

You can see here that string values are not recognize

[2017-08-24 16:35] agarrharr commented on #75
@trevordmiller I use zsh, and I believe that it just inherits the colors from the terminal emulator.

[2017-08-24 18:11] alexlafroscia commented on #75
I use ZSH and oh-my-zsh, I don't have these black bits interspersed in the Airline statusbar

[2017-08-24 21:17] trevordmiller commented on #75
"as I am a ruby programmer, I noticed there is no coloring for string values here. Is that something that deserves a new issue being created?" - @dbjsy

This plugin implements all Vim native highlight groups. It looks like Ruby strings consider the inner part the string (hence the cyan) and the quotes as "special" so they inherit the orange. See:
https://github.com/trevordmiller/nova-vim/blob/mast

[2017-08-25 08:13] dbjsy commented on #75
@trevordmiller it is probably my lack of knowledge of insights of vim ;), thus thank you for your explanation.

[2017-09-01 18:05] alexlafroscia commented on #75
Hey, I don't think I'm going to have time for this. It's pretty easy to adjust the colors in the airline theme, it's just time consuming (and personally I like the way it looks right now). But if you want to change it @kaicataldo it should be pretty easy.

[2017-09-06 13:44] airblade opened #79 "What is the cleanest way to make the background a little darker?"
Hello!

Thank you for making and releasing this colour scheme.

I would quite like to make the background a little darker.  What's the cleanest way to do that?

Also, how can I find a darker version of the current background colour (instead of a random darker colour)?

Thanks!

[2017-09-07 03:58] trevordmiller commented on #79
Hi @airblade, thanks for trying out Nova! If you are looking for higher contrast, honestly I'd recommend another theme as Nova isn't built for high contrast. But if you do just want to darken the background you would have to fork `nova-colors` and and `nova-vim` and replace the `uiGroups.background` color in all the instances like https://github.com/trevordmiller/nova-vim/blob/master/src/index.js#

[2017-09-07 03:58] #79 closed

[2017-09-07 08:29] airblade commented on #79
The contrast is fine for me; I would just like to tweak the background a little.  I'll try it as you recommended.

Thanks @trevordmiller!

[2017-09-07 09:07] emaniacs opened #80 "Clash with another plugin"
I love this project and thanks.

but when i use this plugin, another plugin ([vim-interestingwords](https://github.com/lfv89/vim-interestingwords) didn't work.

Is there any setting to make it work?

This is my vimrc https://github.com/emaniacs/my-dot-config/blob/master/dot-vimrc

Screenshoot with and without nova plugin.
![vim-interestingwords-with-nova](https://user-images.githubusercontent.com/

[2017-09-08 01:48] trevordmiller commented on #80
According to the interesting-words documentation, you need to add an array of colors to your vimrc which I don't see in your vimrc:

https://github.com/lfv89/vim-interestingwords#configuration

I'd recommend using [nova-colors](https://github.com/trevordmiller/nova-colors/blob/master/src/index.js#L1-L21) to stay consistent with `nova-vim` so for example:

[code]

[2017-09-08 01:48] #80 closed

[2017-09-08 03:50] emaniacs commented on #80
I was try the configurations, but still didn't work :(

[2017-09-08 03:53] agarrharr commented on #80
@emaniacs I tried it and it works for me.

[2017-09-08 03:59] emaniacs commented on #80
@agarrharr may i see your vimrc?

i dont know, everything is ok after i unset termguicolors, **set notermguicolors** but the brightness increased..

[2017-09-08 04:21] emaniacs commented on #80
@agarrharr i try your [vimrc](https://raw.githubusercontent.com/agarrharr/settings/master/gnu%2Blinux/dotfiles/.vimrc) and its work

I gonna check my vimrc and gonna updated in this issue,,

Thanks :)

[2017-09-08 06:51] emaniacs commented on #80
I use old repository https://github.com/vasconcelloslf/vim-interestingwords which redirected to https://github.com/lfv89/vim-interestingwords in my vimrc.
its fixed when i use new repository url in my vim. :)

[2017-09-13 13:15] maximmcnair opened #81 "Vim tabs are hard to read with the white background"
Really love this theme! However I find the tabs hard read with the white background. I've tried with a stripped down vim.init to check it wasn't a conflict with another package.  My setup is iterm2 and neovim with both color schemes installed.

[code]

![screen shot 2017-09-13 at 14 14 42](https://user-images.githubusercontent.com/1009787/30379335-10996e1e-988e-11e7-882c-d16490d587fc.png)

[2017-09-13 14:28] agarrharr commented on #81
Mine looks the same. I have to agree, that it's a bit hard to read on the light grey background. This is a low contrast color scheme, but this seems lower contrast than normal. I'm not sure what options we have here. @trevordmiller Is this something you've noticed? I don't use tabs a lot myself, so I didn't really notice.

[2017-09-13 15:25] trevordmiller commented on #81
@maximmcnair Good catch, that is a bug I haven't noticed because I don't use Vim tabs either. This should be updated to match the other "toggle" styles across Nova:

![image](https://user-images.githubusercontent.com/5497885/30385788-6e590628-9865-11e7-83ce-20932800adb0.png)

So the tab bar background should be `uiGroups.backgroundShade`, with the foreground being `uiGroups.gray3` unless active th

[2017-09-13 15:29] trevordmiller commented on #81
Also of note, the Vim airline doesn't have the best contrast; here is what non-airline (native status bar) looks like:

![image](https://user-images.githubusercontent.com/5497885/30385871-9f015fc8-9865-11e7-863d-54e899c642f2.png)

We have discussed updating airline to match in https://github.com/trevordmiller/nova-vim/issues/75, but I left the decision to @alexlafroscia to keep it as is since he b

[2017-09-13 16:04] maximmcnair commented on #81
Created a PR #82 to match above conversation

[2017-09-14 03:41] #81 closed

[2017-09-20 15:51] codeinabox opened #83 "No colours when used as mergetool with vimdiff"
I've noticed that this colour scheme doesn't work when vim is used as git mergetool. My gitconfig contains this:

[code]

When I run `git mergetool` to resolve a conflict there are no colours but if I use `colorscheme default` or other themes the colours display fine.

[2017-09-20 22:11] trevordmiller commented on #83
@codeinabox Good catch. Thanks for using Nova and letting me know. Feel free to submit a PR if you'd like; otherwise I'll take care of this :)

[2017-09-21 15:57] codeinabox commented on #83
I'll have to leave it in your capable hands as I don't know why it doesn't play nice with vimdiff or using vim as a man pager.

[2017-10-03 05:16] gauravdesale commented on #83
I am interested in contributing to this but I dint know which file to look into. Is there any way for me to do so and get acquainted with the repo

[2017-10-04 05:24] trevordmiller opened #84 "Add full colors for missing latest :hi groups"

[2017-10-04 05:32] trevordmiller commented on #83
@gauravdesale Wonderful! I’d love to have your help. First, please read through the [CONTRIBUTING.md](https://github.com/trevordmiller/nova-vim/blob/master/CONTRIBUTING.md). Then, make code changes in [src/index.js](https://github.com/trevordmiller/nova-vim/blob/master/src/index.js). For this issue the changes will be in the “VERSION CONTROL” section; I haven’t tested this issue myself yet but my

[2017-10-09 22:00] trevordmiller commented on #83
@codeinabox I set up vimdiff and used `git mergetool` and this is what I was getting without any changes to nova-vim:

So it was working. I double checked the highlight groups being applied with `:hi` and they are indeed being applied:

<img width="1920" alt="screen shot 2017-10-09 at 3 55 54 pm" src="https://user-images.githubusercontent.com/5497885/31360151-5b9eea98-ad0a-11e7-9f0b-7d991118a312.p

[2017-10-09 22:01] #83 closed

[2017-10-09 23:11] #74 closed

[2017-10-09 23:11] #84 closed

[2017-10-10 16:38] trevordmiller opened #87 "Add Flow plugin instructions"

[2017-10-10 16:51] #87 closed

[2017-10-23 15:07] cronokun opened #88 "Don't override user's vertical separator char"
It's very confusing when a color scheme overrides user's GUI settings, like `set fillchars+=vert:│`.
I personally prefer BOX DRAWINGS HEAVY VERTICAL (`┃`).

[2017-10-23 17:03] trevordmiller commented on #88
@cronokun Thanks for using Nova and for the feedback. Feel free to submit a pull request, otherwise I'll get to this :)

[2017-10-30 02:41] trevordmiller commented on #88
@cronokun This was released in https://github.com/trevordmiller/nova-vim/releases/tag/v3.15.0. Please upgrade and let me know if you have any problems. Thanks!

[2017-10-30 02:41] #88 closed

[2017-10-30 08:58] cronokun commented on #88
@trevordmiller Thanks! And thanks for awesome color scheme! 👍

[2018-01-23 19:58] jlconlin opened #89 "Terminal Vim"
I love this color scheme, but I have some troubles when I use it in terminal Vim. I get the following error:

[code]

I recognize this means that my version of Vim was not compiled with the gui option. Can we modify this color scheme to remove these errors and make it more applicable for terminal ViM?

[2018-01-23 20:25] trevordmiller commented on #89
Hey @jlconlin, thanks! Nova is build for terminal Vim, but it requires Vim 8+ (which has the `termguicolors` option).

From the website:

<img width="792" alt="screen shot 2018-01-23 at 1 22 15 pm" src="https://user-images.githubusercontent.com/5497885/35298827-911c03c0-0040-11e8-8473-fa6d42c82820.png">

https://trevordmiller.com/projects/nova

Related closed issues: https://github.com/trevordmill

[2018-01-23 20:25] #89 closed

[2018-01-23 20:26] jlconlin commented on #89
Thanks, that does help. I suppose I should read the manual more closely.

[2018-01-23 20:28] trevordmiller commented on #89
@jlconlin No problem :) If you are on mac OS, I recommend using [homebrew](https://brew.sh). So you can `brew install vim`, then `brew update && brew upgrade vim` in the future to stay up-to-date. Good luck!

[2018-01-23 20:30] jlconlin commented on #89
Actually, on my Mac I don't have any problems as I use MacVim. It's when I'm on Linux that I have Vim 7.x.

[2018-01-23 20:38] trevordmiller commented on #89
@jlconlin Ok so you need to `sudo apt-get update && sudo apt-get install vim` or related for another Linux package manager :)

[2018-01-30 23:28] trevordmiller opened #90 "Add syntax highlighting for Ruby"
- [ ] Add highlight groups to src
- [ ] publish latest release

No plugin needed on Vim 7.x+

[2018-02-09 00:34] stsewd opened #91 "Can't see ColorCoumn"
Hi, I notice that the color for `ColorColumn` is not visible. I'm using the latest Neovim.

![colocolumn](https://user-images.githubusercontent.com/4975310/36005703-da72d300-0d06-11e8-955d-d7911710fe02.png)

Manually setting `hi ColorColumn guibg=#556873` solve this.

[2018-02-09 18:07] trevordmiller commented on #91
@stsewd Thanks for using Nova! As shown in your screenshot, colorcolumn is set and visible - it is just very low contrast:
![image](https://user-images.githubusercontent.com/5497885/36042555-7326bfda-0d89-11e8-9fd1-8e6d286929cd.png)

I prefer it this way, but feel free to override it in your own settings as you have done :)

[2018-02-09 19:58] stsewd commented on #91
@trevordmiller well, actually I don't see it at all on my screen

![colorcolumn1](https://user-images.githubusercontent.com/4975310/36047294-a005c0f8-0da9-11e8-8786-7ea9897bbcc6.png)

![colorcolumn2](https://user-images.githubusercontent.com/4975310/36047292-9fe3cf7a-0da9-11e8-813a-8b340f5d09fd.png)

[2018-02-09 23:41] trevordmiller commented on #91
@stsewd Ok thanks for the screenshots - I'll look into it!

[2018-02-09 23:42] stsewd commented on #91
@trevordmiller Thanks! Very appreciated!

[2018-02-18 00:05] #90 closed

[2018-02-18 00:16] trevordmiller commented on #91
@stsewd You were right, this was a bug. It has been fixed and released in https://github.com/trevordmiller/nova-vim/releases/tag/v3.17.0. Please update your `nova-vim` plugin and let me know if it works ok for you :) Thanks for using Nova and for the feedback!

[2018-02-18 00:16] #91 closed

[2018-02-18 00:31] stsewd commented on #91
@trevordmiller works perfectly, thanks for your time!

[2018-02-19 22:42] trevordmiller opened #92 "Add custom highlight groups from key vim-polyglot languages"
- [x] Node (polyglot additions?)
- [x] TypeScript (polyglot additions?)
- [x] Git
- [x] Markdown
- [x] JSON
- [x] YAML
- [x] Go
- [x] Dockerfile
- [x] Makefile

[2018-02-20 03:58] trevordmiller opened #93 "Recommend vim-polyglot"
- [x] Add vim-polyglot to [example `.vimrc`](https://github.com/trevordmiller/nova-vim/blob/master/assets/.vimrc)

[2018-02-20 04:00] trevordmiller opened #94 "Add :terminal colors"

[2018-02-20 18:43] trevordmiller opened #95 "Add flow support without config required"
Move `let g:javascript_plugin_flow = 1` from .vimrc to nova-vim

[2018-02-27 15:02] trevordmiller opened #96 "Suggest support with popular tools"
- https://carbon.now.sh/?bg=rgba(171,%20184,%20195,%201)&t=zenburn&l=auto&ds=true&wc=true&wa=true&pv=48px&ph=32px&ln=false
- themer

[2018-02-27 20:41] trevordmiller opened #97 "Fix ALE message color"
ALE errors and warnings should both be `uiGroups.userActionNeeded` instead of inconsistent current yellow or white etc.:

![image](https://user-images.githubusercontent.com/5497885/36753576-c4927fc4-1bc3-11e8-852c-8ea736ed0893.png)

![image](https://user-images.githubusercontent.com/5497885/36766708-4d64d81c-1bf4-11e8-823d-b60d26c46aca.png)

[2018-03-24 23:47] #96 closed

[2018-04-07 16:51] leonardt opened #98 "Nova colors for alacritty"
Haven't put too much effort into the repository, but it's there for anyone who wants the basic color template for Alacritty (https://github.com/jwilm/alacritty)

@trevordmiller I've added you as a collaborator so feel free to spruce it up or just migrate the contents to entirely different repo, it doesn't matter to me. Feel free to close this issue once you've read it since it's not really an issu

[2018-04-07 16:53] leonardt commented on #98
Forgot to include a link to the repository! https://github.com/leonardt/nova-alacritty

[2018-04-07 19:40] trevordmiller commented on #98
Thanks @leonardt! I'll leave this issue open so I can add this to the "Community plugins" section of https://trevordmiller.com/projects/nova.

[2018-04-14 21:32] trevordmiller commented on #98
@leonardt I've added your Nova Alacritty plugin to the "Community plugins" section of https://trevordmiller.com/projects/nova. The only thing that is missing is the repo needs an example screenshot located at `https://github.com/leonardt/nova-alacritty/assets/screenshot.png` to match the other Nova plugins. Would you mind adding that so the website no longer has a broken link?

![image](https://us

[2018-04-19 01:30] trevordmiller commented on #98
@leonardt Does that make sense? Let me know when you have added the file to `https://github.com/leonardt/nova-alacritty/assets/screenshot.png` and I'll close this issue. Thanks!

[2018-04-19 01:32] #97 closed

[2018-04-19 15:40] leonardt commented on #98
Done! Thanks for the reminder

[2018-04-19 15:40] #98 closed

[2018-04-28 19:41] trevordmiller commented on #95
Released in https://github.com/trevordmiller/nova-vim/releases/tag/v3.18.0

[2018-04-28 19:41] #95 closed

[2018-04-28 19:48] #93 closed

[2018-04-28 20:37] #92 closed

[2018-05-15 17:07] megalithic commented on #98
hah, weird, so i added the colors to the alacritty wiki not too long ago. didn't even think to check back here.

[2018-05-16 14:54] leonardt commented on #98
i noticed that later after I had made this repository!

[2018-05-16 21:03] trevordmiller commented on #98
@megalithic @leonardt So should I change anything for the current "Alacritty" section of the Nova website here: https://trevordmiller.com/projects/nova?

![image](https://user-images.githubusercontent.com/5497885/40143994-476169cc-591a-11e8-9d33-45c772ee03db.png)

[2018-05-16 21:11] megalithic commented on #98
@trevordmiller @leonardt that looks good to me sir!

[2018-05-21 19:31] jlconlin opened #99 "No syntax highlighting after update"
I recently updated my plugins (I use Vundle). This caused syntax highlighting to fail when I use the nova colorscheme. I did a thorough revamp of my `vimrc` and the plugins I use. I have determined that whenever I execute `colorscheme nova` all of my syntax highlighting goes away. It seems the nova colorscheme plugin isn't working.

I looked at the latest documentation which says the plugin is now

[2018-05-21 22:49] trevordmiller commented on #99
Hi @jlconlin! Thanks for using Nova! I haven't had any other reports of this and everything is working for me and those I know using Nova with Vim - so I'm thinking there might be something up with your setup. Here are a two things to try:

1) Ensure running `vim --version` shows your Vim version is at least 8.0.

2) See if you can reproduce with only this in your `.vimrc`:

[code]

Then restart V

[2018-05-22 12:34] jlconlin commented on #99
I tried your suggestion and it worked using MacVim, but it did not work in my terminal. I generally run with iTerm2 using the terminal vim provided with MacVim. Strange that it works in one place, but not the other.

[2018-05-22 15:36] trevordmiller commented on #99
@jlconlin Yeah that is strange. I’m not sure why it wouldn’t be working for you. But I’m happy to try to help debug with you. If you could upload a video or gif of you starting iTerm and then starting Vim and moving around some files that could be helpful in debugging.

[2018-05-22 15:38] trevordmiller commented on #99
@jlconlin Also one other idea: do you have anything in `~/.vim/colors`? That directory should be empty.

[2018-05-22 17:46] jlconlin commented on #99
After further attempts, it looks like it was some combination with my tmux settings. When I did it outside of tmux then the terminal and gui version worked just fine, but inside of tmux, the terminal version didn't work.

I am getting syntax highlighting now, but I'm not sure everything is exactly the way it should be—it's kind of hard to see. I'm trying to figure out which of my settings is the c

[2018-05-22 19:55] trevordmiller commented on #99
@jlconlin Ok, sounds like you have some personal settings interfering so I'm going to close this issue. The Nova website does have info on how to use tmux: https://trevordmiller.com/projects/nova. You can also check out my own dotfiles as I use iTerm2 + tmux + vim: https://github.com/trevordmiller/dotfiles. If you find anything Nova specific feel free to post a new issue. Thanks!

[2018-05-22 19:55] #99 closed

[2018-05-23 03:05] megalithic opened #100 "Nova theme for Kitty"
@trevordmiller I'm fiddling with different terminals right now, and am trying [Kitty](https://github.com/kovidgoyal/kitty) so figured I'd send  you the Nova color scheme for it too:

[code]

[2018-05-23 17:02] trevordmiller commented on #100
@megalithic Awesome! If you want to create a repo with a build step using the `nova-colors` package, I'll happily add this to [the Nova website](https://trevordmiller.com/projects/nova). Here are some examples:

- [nova-iterm](https://github.com/trevordmiller/nova-iterm)
- [nova-gnome-terminal](https://github.com/agarrharr/nova-gnome-terminal)

[2018-05-23 17:02] #100 closed

[2018-07-17 08:05] yeongsheng-tan opened #103 "nova-vim in janus don't seem to pick-up colorscheme"
In janus, plugins and colorschemes are "installed" by cloning the interested git repo into ~/.janus.

I've got both in my ~/.janus - both "sheerun/vim-polyglot" and "trevordmiller/nova-vim"
[code]

And this is my updated ~/.vimrc.after
[code]

However, after restarting both vim, tmux and even iTerm2, my vim sessions are not getting the expected colorscheme 'nova' at all.

Is there something wonky

[2018-08-20 12:49] alexdrupal opened #104 "Please, add support for PHP"
![php_colors](https://user-images.githubusercontent.com/38625/44341457-9a8d5680-a490-11e8-91aa-be44aafdfed3.png)

[2018-08-20 15:05] trevordmiller commented on #104
Hey @alexdrupal! Thanks for reaching out. PHP is not a priority language for me, but feel free to submit a pull request if you'd like :) Here are the contributing instructions if you are interested: https://github.com/trevordmiller/nova-vim/blob/master/contributing.md

[2018-08-20 15:05] #104 closed

[2018-09-23 15:40] stsewd opened #106 "Problems with CursorLine with latest Neovim update"
This is due to a new feature of Neovim, here is the same problem https://github.com/neovim/neovim/issues/9019 (I'm not familiar with highlight so, I really don't understand much of the problem/solution p:).

I've been using this as a temporary fix `highlight CursorLine ctermfg=black`.

This is how it looks now

![problemhl](https://user-images.githubusercontent.com/4975310/45929845-06922d00-bf1d-1

[2018-09-26 08:18] bluz71 commented on #106
@trevordmiller,

We were able to solve [neovim #9019](https://github.com/neovim/neovim/issues/9019) by finding out the highlight group in question (`NERDTreeFile` in that case) and creating a theme rule (`highlight NERDTreeFile ctermfg=251`).

However, this case is more complicated in that you do not wish to override the underlying programming language syntax highlighting by specifying a single fo

[2018-11-21 22:43] trevordmiller commented on #106
@stsewd Perhaps this new feature may interest you? https://github.com/trevordmiller/nova-vim/pull/107

[2018-11-22 03:19] stsewd commented on #106
It didn't make any difference, thanks anyway!

Also, I didn't understand that feature, I don't see any changes in the theme with 0 or 1 :man_shrugging:

[2018-12-10 21:11] bigH opened #108 "Doesn't support tabs using `airline`"
My config looks like:
[code]

All the tab colors are identical so it's impossible to know what's highlighted and what's not.

[2018-12-10 22:02] trevordmiller commented on #108
I don’t use airline myself but would accept a pull request if you or someone else would like to :) See the `contributing.md` if interested. I’m going to close this for now but if I get a pull request for it I’ll reopen.

[2018-12-10 22:02] #108 closed

[2019-01-05 20:38] stokhos opened #109 "transparent background doesn't work in neovim"
I'd to have transparent background in neovim.
But by setting g:nova_transparent = 1does give the a transparent background.

[2019-03-18 03:12] fannheyward opened #111 "Neovim floating window colors support"
Neovim has add floating window feature, and the highlight in floating window is broken:

<img width="536" alt="image" src="https://user-images.githubusercontent.com/345274/54504452-ada4ce00-496e-11e9-95de-c459b12ccf09.png">

[2019-03-18 05:08] trevordmiller commented on #111
I don’t use or support neovim myself but PRs are welcome following the contributing.md :) Closing this for now but will reopen if a PR is submitted for this.

[2019-03-18 05:08] #111 closed

[2019-07-12 17:53] trevordmiller commented on #111
This was released in https://github.com/trevordmiller/nova-vim/releases/tag/v3.22.1 thanks to @DodoMomo

[2019-08-06 23:55] marklawlor opened #115 "Incorrect colors used in vim :terminal"
iTerm:  3.3.1, using Nova-iTerm colors. Bold is enabled
Vim: 8.1 (latest on Homebrew) using nova-vim

Colors in normal terminal:
![Screen Shot 2019-08-07 at 9 48 52 am](https://user-images.githubusercontent.com/3946701/62584586-9a33d880-b8f8-11e9-9c63-81c3d6f48733.png)

Colors when using :terminal in vim
![Screen Shot 2019-08-07 at 9 46 25 am](https://user-images.githubusercontent.com/3946701/6258

[2019-08-07 19:52] trevordmiller commented on #115
@marklawlor To my knowledge, this has to do with iterm bold settings, not `nova-vim`. Since `nova-vim` is using the colors correctly:

https://github.com/trevordmiller/nova-vim/blob/4e117d23c55cf0e49e2f8eb4587c868ed91387bd/src/index.js#L419-L436

So I'm going to close this. But let me know if I'm misunderstanding something or if you have a pull request :)

[2019-08-07 19:52] #115 closed

[2019-08-07 19:54] trevordmiller commented on #115
Per `:help terminal_ansi_colors`:

In GUI mode or with 'termguicolors', the 16 ANSI colors used by default in new
terminal windows may be configured using the variable
`g:terminal_ansi_colors`, which should be a list of 16 color names or
hexadecimal color codes, similar to those accepted by |highlight-guifg|.  When
not using GUI colors, the terminal window always uses the 16 ANSI colors of
the und

[2019-08-07 20:12] marklawlor commented on #115
Thanks for responding. I initially thought it was iTerm as well, however :terminal is the only place the incorrect colours show. I believe my iterm is correctly configured as it displays bright bold colours everywhere else (see the second screen shot). I'm not sure what iTerm setting would only affect vim :terminal.

I've run a couple of True Colour test bash/python scripts. They all pass showing

[2019-08-08 20:48] trevordmiller commented on #115
@marklawlor No need to cross post to the nova-item repo. It does seem to be related to `:terminal`, but I don't know of a way around it since to my knowledge this is correct:

https://github.com/trevordmiller/nova-vim/blob/4e117d23c55cf0e49e2f8eb4587c868ed91387bd/src/index.js#L419-L436

If you figure out something, feel free to submit a PR for those lines ^ :)